SECRET_KEY=add-your-secret-key-here
ACCESS_TOKEN_EXPIRATION_TIME_IN_MINUTES=30
REFRESH_TOKEN_EXPIRATION_TIME_IN_MINUTES=60

# Database Configuration
DATABASE_NAME=augment_store
DATABASE_USER=postgres
DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_PASSWORD=postgres